<footer class="bg-black ph3 pt4 white">

    <div class="center pv3" style="font-size: large">
        <div style="display: flex; flex-direction: row; flex-wrap: wrap; width: 100%; justify-content: space-around">
            <div style="display: flex; flex-direction: column; align-items: center">
                <img src="/img/logo-med-no-text.webp" alt="HBIA logo" style="max-width: 4rem;">
                <p>Port Hope HBIA</p>
            </div>

            <div>
                <ul>
                    <li><a class="link" href="/about">About us</a></li>
                    <li><a class="link" href="/event">Events</a></li>
                    <li><a class="link" href="mailto:hbia@port-hope.com">Contact us at: hbia@port-hope.com</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div style="display: flex; justify-content: center;">
        <p style="font-size: smaller">
            Copyright Port Hope HBIA 2023
        </p>
    </div>
</footer>
