<div class="event-wrapper" style="display: flex; justify-content: center">
        <div id="welcome-wrapper-inner">
            <h2 style="display: flex; justify-content: center; width: 100%">
                <span id="welcome">Welcome!</span>
            </h2>

            <div style="display: flex; flex-wrap: wrap; white-space: nowrap; max-width: 100vw; justify-content: center; align-items: center; column-gap: 0.5rem">
                Port Hope is...

                <img id="img1" class="welcome-img" src={{ (index .imagesGroup1 0).image }}>
                {{ if gt (len .text) 1 }}
                <span>{{ index .text 0}},</span>
                <span>{{ index .text 1}}</span>
                {{ end }}
            <img id="img2" class="welcome-img" src={{ (index .imagesGroup2 0).image }}>
                {{ if gt (len .text) 4 }}
                <span>{{ index .text 2 }},</span>
                <span>{{ index .text 3 }},</span>
                <span>{{ index .text 4}}</span>
                {{ end }}
            <img id="img3" class="welcome-img" src={{ (index .imagesGroup3 0).image }}>
                {{ if gt (len .text) 5 }}
                <span>{{ index .text 5}},</span>
                {{ end }}
                {{ if gt (len .text) 6 }}
                <span>{{ index .text 6}},</span>
                {{ end }}
                {{ if gt (len .text) 7 }}
                <span>{{ index .text 7}},</span>
                {{ end }}
                <img id="img4" class="welcome-img" src={{ (index .imagesGroup3 0).image }}>
                {{ if gt (len .text) 8 }}
                <span>{{ index .text 8}},</span>
                {{ end }}
                {{ if gt (len .text) 9 }}
                <span>{{ index .text 9}}</span>
                {{ end }}
            </div>
        </div>
</div>

<script>
    let text_i = 0;
    let images1_i = 0;
    let images2_i = 0;
    let images3_i = 0;
    let images4_i = 0;

    let text = {{ .welcome }};
    let images1 = {{ .imagesGroup1 }};
    let images2 = {{ .imagesGroup2 }};
    let images3 = {{ .imagesGroup3 }};
    let images4 = {{ .imagesGroup4 }};

    const swapText = (i) => {
        let e = document.getElementById("welcome");
        let index = text_i % text.length;
        e.innerText = text[index];
    }

    const swapImage1 = (i) => {
        let e = document.getElementById("img1");
        let index = i % images1.length;
        e.src = images1[index].image;
    }

    const swapImage2 = (i) => {
        let e = document.getElementById("img2");
        let index = i % images2.length;
        e.src = images2[index].image;
    }

    const swapImage3 = (i) => {
        let e = document.getElementById("img3");
        let index = i % images3.length;
        e.src = images3[index].image;
    }

    const swapImage4 = (i) => {
        let e = document.getElementById("img4");
        let index = i % images4.length;
        e.src = images4[index].image;
    }

    const textLoop = () => setTimeout(() => {
        text_i++;
        swapText(text_i);
        textLoop();
    }, 1500)

    const image1Loop = () => setTimeout(() => {
        images1_i++;
        swapImage1(images1_i);
        image1Loop();
    }, 5000 + Math.random() * 2000)

    const image2Loop = () => setTimeout(() => {
        images2_i++;
        swapImage2(images2_i);
        image2Loop();
    }, 5000 + Math.random() * 2000)

    const image3Loop = () => setTimeout(() => {
        images3_i++;
        swapImage3(images3_i);
        image3Loop();
    }, 2000 + Math.random() * 7000)

    const image4Loop = () => setTimeout(() => {
        images4_i++;
        swapImage4(images4_i);
        image4Loop();
    }, 1000 + Math.random() * 9000)

    textLoop()
    setTimeout(() => (image1Loop()), 1250) // delay first call
    setTimeout(() => (image2Loop()), 2500) // delay first call
    setTimeout(() => (image3Loop()), 3750) // delay first call
    setTimeout(() => (image4Loop()), 5000) // delay first call
</script>
