{{ $link := .RelPermalink -}}

<a href="{{ $link }}" class="no-underline raise">
    {{ with .Params -}}
    {{ $name := .name -}}

    {{ with .storefront -}}
    <img class="thumb lazy" alt="Storefront of {{ $name }}" data-src="{{ $link }}{{ . }}">
    {{ else }}
    <div class="thumb lazy"
         style="background-color: gainsboro; display: flex; justify-content: center; align-content: center; flex-direction: column">
        <p>Storefront photo missing</p>
        <p>{{ .name }}</p>
        <p>{{ .Title }}</p>
    </div>
    {{end }}
    {{ end }}
</a>
