<nav id="nav">
    <div style="display: flex; flex-direction: row; align-content: center; justify-content: space-between; height: 80px; width: 100%;">
        <!-- Logo -->

        <a href="/"
           style="height: 80px; display: flex; justify-content: center; align-content: center; flex-direction: column">
            <img class="logo" src="/img/logo-med-no-text.webp" alt="port hope bia logo"
                 style="width:100%; object-fit: scale-down"/>
            <span class="logo-text">Port Hope HBIA</span>
        </a>

        <ul class="nav-list">
            <li><a href="/shop" class="no-underline nav-text">shop</a></li>

            <li><a href="/taste" class="no-underline nav-text">taste</a></li>

            <li><a href="/explore" class="no-underline nav-text">
                <div style="text-align: center">explore & stay</div>
            </a></li>

            <li><a href="/services" class="no-underline nav-text">services</a></li>
        </ul>
    </div>
</nav>
