<nav id="nav" data-nav>
    <div style="display: flex; flex-direction: row; justify-content: space-between; width: 100%;">
        <!-- Logo -->
        <a href="/" class="logo">
            <div style="display: flex; justify-content: center">
                <img src="/img/logo-med-no-text.webp" alt="port hope bia logo" style="width:100%"/>
                <div class="logo-text">
                    Port Hope HBIA
                </div>
            </div>
        </a>

        <ul style="flex-grow: 1; max-width: 800px; display: flex; flex-direction: row; justify-content: space-around; align-items: center;">
            <li><a href="/shop" class="no-underline nav-text">shop</a></li>

            <li><a href="/taste" class="no-underline nav-text">taste</a></li>

            <li><a href="/explore" class="no-underline nav-text">
                <div style="text-align: center">explore & stay</div>
            </a></li>

            <li><a href="/services" class="no-underline nav-text">services</a></li>
        </ul>
    </div>
</nav>
