{{ define "title" }}
<title>{{ .Params.name }} | {{ $.Site.Title }}</title>
{{ end }}

{{ define "main" }}
{{ $link := .Page.RelPermalink }}
<div style="display: flex; justify-content: center; margin: 2rem">
    <div style="display: flex; flex-direction: row; flex-wrap: wrap; gap: 2rem">
        <div>
            <div class="glide square">
                <div class="glide__track" data-glide-el="track">
                    <ul class="glide__slides">
                        <li class="glide__slide">
                            {{ if .Params.storefront }}
                            <img class="square" alt="storefront image"
                                 src="{{$link}}{{.Params.storefront}}">
                            {{ else }}
                            <div class="square" style="background-color: gainsboro">
                                No storefront photo
                            </div>
                            {{ end }}
                        </li>
                        {{ range .Params.otherPics }}
                        <li class="glide__slide">
                            <img class="square" alt="image inside store" src="{{$link}}{{ .image }}">
                        </li>
                        {{ end }}
                    </ul>
                </div>

                {{ if and (.Params.otherPics) (gt (len .Params.otherPics) 0) }}
                <div class="glide__arrows" data-glide-el="controls">
                    <button class="glide__arrow glide__arrow--left" data-glide-dir="<">⇦</button>
                    <button class="glide__arrow glide__arrow--right" data-glide-dir=">">⇨</button>
                </div>

                <div class="glide__bullets" data-glide-el="controls[nav]">
                    <button class="glide__bullet" data-glide-dir="=0"></button>
                    {{ range $i, $pic := .Params.otherPics }}
                    <button class="glide__bullet" data-glide-dir="={{ add $i 1 }}"></button>
                    {{ end }}
                </div>
                {{ end }}
            </div>
        </div>

        <div style="display: flex; flex-direction: column; max-width: 600px; margin-top: 1rem">
            <h1 style="font-size: x-large; font-weight: bold">{{.Params.name}}</h1>

            <div style="display: flex; flex-direction: row">
                {{ if .Params.facebook }}
                <a href={{ .Params.facebook }}>
                    <img style="width: 1rem; margin: 0.25rem;" src="/img/icons-facebook.svg">
                </a>
                {{ end }}
                {{ if .Params.twitter }}
                <a href={{ .Params.twitter }}>
                    <img style="width: 1rem; margin: 0.25rem;" src="/img/icons-twitter.svg">
                </a>
                {{ end }}
                {{ if .Params.instagram }}
                <a href={{ .Params.instagram }}>
                    <img style="width: 1rem; margin: 0.25rem;" src="/img/icons-instagram.svg">
                </a>
                {{ end }}
            </div>

            <div style="font-size: medium;">{{ .Content }}</div>

            <p style="font-size: medium">
                {{ if .Params.address }}
                <span>{{ .Params.address }},</span> <span>Port Hope ON</span><br/>
                {{ end }}

                {{ if .Params.phone }}
                <span>{{ .Params.phone }}</span>
                {{ end }}
            </p>

            {{ if .Params.website }}
            <a href={{ .Params.website }} class="btn" style="width: 10rem">
                Visit Us Online
            </a>
            {{ end }}
        </div>
    </div>
</div>

<script src="https://unpkg.com/@glidejs/glide"></script>

<script>
    try {
        const pics = new Glide('.glide')
        pics.mount()
    } catch (e) {
        console.log(e)
    }
</script>
{{ end }}
